.card {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  margin-bottom: 12px;
  cursor: pointer;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.card__image:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

.card__title {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0;
  max-width: 353px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__like-button {
  background-image: url(../images/heart.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 0.4;
  transition: opacity 0.2s ease-in-out;
  background-repeat: no-repeat;
}

.card__like-button:hover {
  cursor: pointer;
  opacity: 1;
}

.card__like-button_active {
  background-image: url(../images/Union.svg);
  opacity: 1;
}

.card__like-button_active:hover {
  opacity: 0.4;
}

.card__delete-button {
  background: url("../images/DeleteButton.svg") center no-repeat;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 100%;
  border: none;
}

.card__delete-button:hover {
  background-color: #FF6565;
  cursor: pointer;
}


@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }
  .card__title {
    max-width: 235px;
  }
}

@media screen and (max-width: 235px) {
  .card__image {
    height: 213px;
  }
}