.footer {
  background-color: #ffffff;
  padding: 60px 0;
}

.footer__content {
  font-size: 16px;
  font-weight: 400;
  margin: 0 auto;
  text-align: center;
  color: #212121B2;
}

.footer_page__section {
  color: #fcf5e5;
  padding: 60px 0;
}


