
.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
}

.modal_is-opened {
  visibility: visible;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
  font-family: "Poppins", sans-serif;
}

.modal__close-btn {
  width: 40px;
  height: 40px;
  background: transparent url("../images/close.svg") center no-repeat;
  background-size: 35px 35px;
  border: none;
  position: absolute;
  top: 32px;
  right: 50px;
  transition: 0.3s;
  padding: 0;
  margin: 0;
  cursor: pointer;
  opacity: 0.4;
}

.modal__close-btn:hover {
  opacity: 1;
}

.modal__title {
  margin: 0 0 32px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  width: 630px;
  padding: none;
  border-radius: 8px 8px 8px 8px;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
}

.modal__submit-btn {
  max-width: 156px;
  height: 52px;
  color: #fcf5e5;
  background: #212121;
  font-size: 16px;
  line-height: 100%;
  border-radius: 8px 8px 8px 8px;
  padding: 18px 32px;
}

.modal__input::placeholder {
  color: #2121214d;
}
