.modal {
  background-color: #00000080;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  visibility: hidden;
  opacity: 0;
  transition:
    visibility 0.5s,
    opacity 0.5s ease-in;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
  overflow: visible;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.modal__image-container {
  position: relative;
}

.modal__close-btn:hover {
  opacity: 1;
}

.modal__title {
  font-size: 32px;
  line-height: 1;
  font-weight: 500;
  margin: 0 0 32px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  width: 630px;
  padding: 0;
  border-radius: 8px 8px 8px 8px;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  padding: 16px 12px;
  box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.4);
}

.modal__submit-btn {
  max-width: 156px;
  height: 52px;
  color: #fcf5e5;
  background: #212121;
  font-size: 16px;
  line-height: 100%;
  border-radius: 8px 8px 8px 8px;
  padding: 18px 32px;
}

.modal__submit-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__image-container {
  position: relative;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__close-btn {
  width: 40px;
  height: 40px;
  background: transparent url("../images/Group\ 27.svg") center no-repeat;
  color: #ffffff;
  background-size: 35px 35px;
  border: none;
  position: absolute;
  top: 32px;
  right: 50px;
  transition: 0.3s;
  padding: 0;
  margin: 0;
  cursor: pointer;
  opacity: 0.4;
}

.modal__close_type_preview {
  top: 0;
  right: -52.5px;
}

.modal__caption {
  color: white;
  background-color: #212121;
  position: absolute;
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  width: 214px;
  height: 32px;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
  border-radius: 8px;
  padding: 4px 8px;
  text-align: center;
  width: fit-content;
  height: fit-content;
  padding: 10px 20px;
}

@media (max-width: 768px) {
  .modal__container {
    padding: 22px 12px 12px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__title {
    font-size: 20px;
  }

  .modal__label {
    width: 100%;
  }

  .modal__submit-btn {
    width: 100%;
    max-width: none;
  }
}

@media (max-width: 627px) {
  .modal__close_type_preview {
    /*Placed below the 768px media query to avoid being overwritten */
    top: -48px;
    right: 0;
  }
}
