.profile {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  padding: 34px 0 24px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  margin-right: 20px;
  height: 190px;
  width: 190px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  max-width: 235px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #212121;
}

.profile__description {
  margin: 0;
  max-width: 235px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  font-weight: 500;
  color: #212121b2;
}

.profile__edit-btn {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-top: auto;
  background-color: transparent;
  border: none;
  transition: opacity 0.2s ease-in-out;
  opacity: 0.7;
}

.profile__edit-btn:hover {
  opacity: 1;
  cursor: pointer;
}

.profile__add-btn {
  display: flex;
  gap: 8px;
  margin-left: auto;
  margin-top: auto;
  width: 149px;
  height: 52px;
  color: #fcf5e5;
  background-color: #212121;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  transition: opacity 0.2s ease-in-out;
}

.profile__add-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.profile__icon {
  transition: opacity 0.2s ease-in-out;
}

.profile__icon:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 282px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    width: 100%;
  }

  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .profile__description {
    margin: 0 0 32px;
  }

  .profile__column {
    margin: 0 0 20px;
    align-items: center;
  }

  .profile__add-btn {
    margin: 0;
    width: 100%;
    height: 52px;
  }
}
